# v2022.07.30 [rivy]
# spell-checker:ignore (people) Roy Ivy III * rivy (words) deps EOLs MSVC

# default; use LF EOLs for text files
* text=auto eol=lf

# CRLF required; force required CRLF EOLs for WinOS BAT/CMD and MSVC SLN files
*.[bB][aA][tT]    text eol=crlf
*.[cC][mM][dD]    text eol=crlf
*.[sS][lL][nN]    text eol=crlf

# assert '.deps-lock' lock files as 'binary' (avoids useless diffs; if needed, use `git diff --text ...` as an override)
.deps-lock/npm-shrinkwrap.json  binary
.deps-lock/package-lock.json    binary
.deps-lock/yarn.lock            binary
