# ref: [When not to use package-lock.json](https://dev.to/gajus/stop-using-package-lock-json-or-yarn-lock-3ddi)
# * allow package locks for CI/development reproducibility
#package-lock=false
# suppress occasional annoying npm update messages
update-notifier=false
